.App {
  text-align: center;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background : rgb(100, 100, 100);
  color      : #fff;
}

hr {
  margin: 20px 30%;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width           : 6rem;
  height          : 6rem;
  margin          : 0 auto;
  margin-top      : 10rem;
  border-radius   : 50%;
  border          : 3px solid #ccc;
  border-top-color: hsl(205, 78%, 60%);
  animation       : spinner 0.6s linear infinite;
}

button:active {
  transform: scale(0.95);
}